<h1>All Opportunities</h1>
<% @opportunities.each do |opportunity| %>
  <h2><%= opportunity.title %></h2>
  <p>Description: <%= opportunity.description %></p>
  <p>Date: <%= opportunity.date %></p>
<% end %>