<h1>All Opportunities</h1>
<% @opportunities.each do |opportunity| %>
  <h2><%= opportunity.title %></h2>
  <a href="/opportunities/<%= opportunity.id %>">More info</a>
<% end %>

<a href="/opportunities/new">Create new opportunity</a>