<h1>Opportunity</h1>
<h2><%= @opportunity.title %></h2>
<p>Description: <%= @opportunity.description %></p>
<p>Date: <%= @opportunity.date %></p>
<a href="/opportunities">Back to all opportunities</a>